@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

.frontb h2{
    font-family: 'Lemonada', cursive;
    font-weight: bolder;
    color:#89c74a ;
}