@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

.frontc{
    background-image: url('../img/bg2.jpg');
    background-size: cover;
}

.frontc .heading{
    font-family: 'Lemonada', cursive;
    color: #89c74a;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 45px;
}
.frontc p{
   margin-top: 45px !important;
   font-size:larger;
}
.frontc .time{
    font-family: 'Lemonada', cursive;
    font-size: 2rem;
    font-weight: bolder;
}

.frontc button{
    text-align: left !important;
    background-color: #89c74a;
    border:0px solid transparent;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 5px 20px;
}