@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


.frontb::after{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    content: "";
    height: 104px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 164px;
    z-index: -1;
    transform: translate(-50%,-50%);

    /* position: relative;
    z-index: -1;
    top: 0;
    content: "";
    height: 500px;
    width: 500px;
    border: 2px solid black;
    left: 0;

    background-image: url('../img/img4.png');
    background-size: contain; */

}
.frontb h2{
    font-family: 'Lemonada', cursive;
}